main {
    display: flex;
    flex-direction: column;
}

body * {
    /* Return them to document order */
    background-color: teal;
    border: 5px solid beige;
}

@media all and (min-width: 600px) {
    /* To make three columns */
    main {
        flex-direction: row;
    }
    main > article {
        order: 2;
        min-width: 12em;
        flex: 1;
    }
    main > nav {
        order: 1;
        width: 20%;
    }
    main > aside {
        order: 3;
        width: 20%;
    }
}
