/* with inspiration from scrimba flexbox course https://scrimba.com/g/gflexbox.
Please try to change properties and values to get an idea of how it works*/

/*Global*/

.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #fff9e0;
}

html,
body {
    background-color: #fff9e0;
}

.wrapper {
    margin-top: 72px;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #0894a7;
}

.container > div:nth-child(4n) {
    background-color: #0894a7;
}

.container {
    margin-bottom: 2%;
    border: 5px solid #d47c3c;
    display: flex;
    min-height: 100px;
    width: 100%;
}

/*SPECIFIC FLEXBOX RULES FOR THE INDIVIDUAL CONTAINERS*/

/*JUSTIFY-CONTENT*/

.justify-content {
    justify-content: space-around;
}

/* justify-content values: flex-start flex-end center space-around
space-between space-evenly */

/*ALIGN-ITEMS*/

.align-items {
    align-items: flex-end;
}

/* align-items values: flex-start, flex-end, center, baseline, stretch (default)*/

/*ALIGN-SELF*/

.align-self .contact {
    align-self: flex-end;
}

.align-self .profile {
    align-self: flex-start;
}

.align-self .about {
    align-self: center;
}

/* align-self values: flex-start, flex-end, center, baseline, stretch (default)*/

/*FLEX*/

.flex > div {
    flex: 1;
    /* flex values: flex-grow, flex-shrink, flex-basis. flex is short for all three in one and flex: 1; sets values to 1 1 0 in grow, shrink and basis */
}

/*PERFECT CENTER - flex-wrap added to make items wrap if screen is too small*/

.perfect-center {
    align-items: center;
    justify-content: center;
    min-height: 200px;
    /*overwrites height on container - if this is a fixed height, the content will overflow and min-height makes it bigger than content in order to display the centering*/
    flex-wrap: wrap;
    flex: 1 0 auto;
}

/*Note that flex-wrap default is nowrap which causes overflow - try resizing browser and see on the containers above. flex-wrap properties: nowrap (default), wrap, wrap-reverse */

/*RESPONSIVE - flex-wrap and flex added in media queries to make it fit in small screens*/

@media all and (max-width: 800px) {
    .wrap {
        flex-wrap: wrap;
        height: auto;
        /*overwrites height on container - if this is a fixed height, the content will overflow*/
    }
    .responsive > div {
        flex: 1 1 50%;
    }
    /*responsive class is added to add flex to only this container*/
}

@media all and (max-width: 480px) {
    .responsive > div {
        flex: 1 1 100%;
    }
}
